html,
body {
  overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
a {
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1400px;
}

.navbar button {
  background-color: purple;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: 1px solid white;
  font-size: 14px;
}

.navbar a {
  background: linear-gradient(90deg, rgba(1,0,20,1) 0%, rgba(8,8,112,1) 54%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 14px;
}

.navbar .transparent-btn {
  background-color: transparent;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: 0;
  border: 1px solid white;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  padding: 100px 25px 0;
}

.content:before {
  content: "";
  background: linear-gradient(90deg, rgba(1,0,20,1) 0%, rgba(9,9,121,1) 47%, rgba(0,212,255,1) 100%);
  position: absolute;
  top: -800px;
  left: -250px;
  transform: rotate(-40deg);
  border-radius: 50px;
  z-index: -1;
  height: 1500px;
  width: 100vw;
}

.content h1 {
  font-weight: bold;
  font-size: 40px;
}

.content h4 {
  margin: 20px 0;
  font-size: 20px;
}

.content button {
  background-color: transparent;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  border: 0;
  border: 1px solid white;
  margin-top: 10px;
}

.content img {
  display: block;
  margin: 25px auto 0;
  max-width: 100%;
  height: auto;
}

.boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  max-width: 1400px;
  margin: 250px auto 150px auto;
  padding: 0 25px;
}

.innerbox {
  background-color: white;
  border-radius: 15px;
  padding: 50px 25px;
  box-shadow: 0px 0px 10px #c5c5c5;
  text-align: center;
  border: 1px solid #00d4ff;
}

.innerbox img {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

.innerbox h3 {
  color: purple;
}

.innerbox img{
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 1024px) {
  .content,
  .boxes {
    grid-template-columns: repeat(2, 1fr);
  }

  .content:before {
    transform: rotate(-32deg);
    width: 150vw;
    top: -900px;
    left: -300px;
  }

  .boxes > div:nth-of-type(3) {
    grid-column: 1 / span 2;
    max-width: 50%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 640px) {
  .content,
  .boxes {
    grid-template-columns: repeat(1, 100%);
  }
  .boxes > div:nth-of-type(3) {
    grid-column: 1 / 2;
    max-width: 100%;
  }

  .navbar .transparent-btn{
    display: none;
  }
}
